
.footer-text{
    margin-top: 0px;
    color: #fff
}
.footer{
    background-color: #13002e;
}
.social-container {
    /* text-align: center; */
}
/* .social-icons {
    padding: 0;
} */
/* .social-icons div {
    position: relative;
    font-size: 1.2em;
    margin-top: 0.15em;
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 5%;
    left: 10%;
    transition: all 265ms ease-out;
}
.count{
    padding-left: 20px;
} */

/* .social-icons .social-link:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    background-color: #f307f3;
    transition: all 265ms ease-out;
}
.social-icons .social-link:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
 .social-icons .social-link:hover i {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    color: #d800f5;
    background-color: #f307f3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
} */
.footer2{
    background-color: #13002e;
    height: 50px;
}
.footer-headline{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.touch-with-us-text{
    color: #fff;
    text-decoration: none;
}
.touch-with-us-text:hover{
    color: #ec008c;
}

.quick-link-text{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: block;
}
.quick-link-text:hover{
    background-color: #ec008c;
    padding: 5px;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 20px 50px;
}