
.footer-text{
    margin-top: 0px;
    color: #fff
}
.footer{
    background-color: #000;
}
.social-container {
    /* text-align: center; */
}
.social-icons {
    padding: 0;
}
.social-icons div {
    position: relative;
    font-size: 1.2em;
    margin-top: 0.15em;
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 5%;
    left: 10%;
    transition: all 265ms ease-out;
}
.count{
    padding-left: 20px;
}

.social-icons .social-link:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
    background-color: #f307f3;
    transition: all 265ms ease-out;
}
.social-icons .social-link:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
 .social-icons .social-link:hover i {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    color: #d800f5;
    background-color: #f307f3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}
.footer2{
    background-color: #000;
    height: 50px;
}
