
.carousel-indicators {
    bottom: 10% !important;
    left: 30% !important;
    z-index: 2 !important;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 15px !important;
    padding: 0 !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
    background-color: #ec008c !important;
    border-radius: 50% !important;
    opacity: .3 !important;
    transition: opacity .6s ease !important;
}

@media (prefers-reduced-motion:reduce) {
    .carousel-indicators [data-bs-target] {
        transition: none !important;
    }
}

.carousel-indicators .active {
    opacity: 1 !important;
}

.texture-1{
    background-image: linear-gradient(#fffffff8, #ffffffec),
    url("./../../../public/texture/Asset 2.png");
    z-index: 100;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.history-img {
    padding-top: 20%;
}

.history-side-image {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px #ec008c;

}

.katalyst-history-headline {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #0083ca;
}
.history-short-description{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    justify-content: center;
}



.button-style-2 {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
.button-style-2 {
    width: 12rem;
    height: auto;
}
.button-style-2 .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ec008c;
    border-radius: 1.625rem;
}
.button-style-2 .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.button-style-2 .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
.button-style-2 .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
.button-style-2 .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.button-style-2:hover .circle {
    width: 100%;
}
.button-style-2:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
.button-style-2:hover .button-text {
    color: #fff;
}

@media screen and (max-width: 760px){
    .history-img {
        padding-top: 10%;
    }
    .katalyst-history-headline {
        padding-top: 0px;
    }
}


  .company-history-point div i{
      color: #ec008c;
  }
  .company-history-point div p{
    padding-top: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #0083ca;
  }
  .custom-shape{
      z-index: 100;
      position: relative;
  }
  /* .product-show{
    background-image: linear-gradient(#00000077, #00000077),
    url("./../../../public/contact/B-2.jpg");
    background-attachment: fixed;
    height: 100%;
  } */
  .shape-image1 {
    transform: translate(0px,-10%);
    /* top: 38%; */
    /* position: absolute; */
    width: 100%;
    height: 150px;
    /* transform: rotate(180deg); */
  }