/* @import url('./../public/font/Anton/Anton-Regular.ttf');
@import url('./../public/font/Bebas_Neue/BebasNeue-Regular.ttf');
@import url('./../public/font/Cairo/Cairo-VariableFont_wght.ttf');
@import url('./../public/font/PT_Sans_Narrow/PTSansNarrow-Bold.ttf');
@import url('./../public/font/PT_Sans_Narrow/PTSansNarrow-Regular.ttf');
@import url('./../public/font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
@import url('./../public/font/Roboto_Condensed/RobotoCondensed-Regular.ttf');
@import url('./../public/font/Ubuntu/Ubuntu-Regular.ttf'); */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
